app/index.html
<!DOCTYPE html>
<html lang="ru-RU">

  <head>
    <!--META-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Коллективные блоги</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Николай Пойманов">
    <!--CSS-->
    <!-- build:css css/vendor.min.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <!--endbower;-->
    <!-- endbuild -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body>
    <div class="wrapper">
      <div class="main-content">
        <header class="main-header"></header>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item main-nav__item-active"><a href="index.html" class="main-nav__link">Главная</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Авторы</a></li>
            <li class="main-nav__item"><a href="login.html" class="main-nav__link">Войти</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Регистрация</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Моя страница</a></li>
            <li class="main-nav__item"><a href="newpost.html" class="main-nav__link">Профиль</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Выйти</a></li>
            <li class="main-nav__item"><a href="search.html" class="main-nav__link">Поиск</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">RSS</a></li>
          </ul>
        </nav>
        <main class="main">
          <div class="content">
            <div class="content-layout">
              <div class="heading">
                <h1>Последние записи</h1></div>
              <div class="blog-content">
                <ul class="posts__list">
                  <li class="posts__item">
                    <div class="posts__date">
                      <div class="posts__date-text">31 / 07</div>
                    </div>
                    <div class="posts__info">
                      <ul class="posts__info-list">
                        <li class="posts__info-item"><span class="posts__info-text">Автор: </span><a href="#" class="posts__info-link_type1">Admin</a></li>
                        <li class="posts__info-item"><span class="posts__info-text"></span><a href="#" class="posts__info-link_type1">Жизнь</a><span class="posts__info-sep">, </span><a href="#" class="posts__info-link_type1">Интересное</a></li>
                        <li class="posts__info-item"><a href="#" class="posts__info-link posts__info-link-likes">136</a></li>
                        <li class="posts__info-item"><a href="#" class="posts__info-link posts__info-link-comments">21</a></li>
                        <li class="posts__info-item"><span class="posts__info-text">Просмотры: 100</span></li>
                      </ul>
                    </div>
                    <div class="posts__content">
                      <div class="posts__text">
                        <h1 class="posts__header"> <a href="post.html" class="posts__header_link">Заголовок сообщения</a><a href="#" class="posts__header_edit"></a><a href="#" class="posts__header_delete"></a></h1>
                        <p>Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений.
                          Товарищи! реализация намеченных плановых заданий играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт сложившаяся структура организации влечет за собой процесс
                          внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким
                          образом укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития.</p>
                      </div>
                      <div class="posts__footer"><a href="post.html" class="posts__link">Далее</a></div>
                    </div>
                  </li>
                </ul>
                <ul class="pagination__list">
                  <li class="pagination__item pagination__item-active"><a href="#" class="pagination__link">1</a></li>
                  <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
                  <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
                </ul>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="main-footer">
      <p>Copyrights (c) <a href="#">Fikristudio</a> 2016</p>
      <p>Портфолио-проект <a href="mailto:n.poymanov@gmail.com">Пойманова Николая</a></p>
      <p><a href="https://bitbucket.org/poymanov/mentor-blog-laravel" target="_blank">Исходный код</a></p>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="../js/script.js"></script>
    <!-- endbuild -->
  </body>

</html>

app/templates/pages/index.jade
extends ../layouts/main-layout.jade

block title
	title Коллективные блоги

block content
	.content-layout
		.heading
			h1 Последние записи
		.blog-content
			ul.posts__list
				li.posts__item
					.posts__date 
						.posts__date-text 31 / 07
					.posts__info
						ul.posts__info-list
							li.posts__info-item
								span.posts__info-text Автор: 
								a.posts__info-link_type1(href="#") Admin
							li.posts__info-item
								span.posts__info-text
								a.posts__info-link_type1(href="#") Жизнь
								span.posts__info-sep , 
								a.posts__info-link_type1(href="#") Интересное
							li.posts__info-item
								a.posts__info-link.posts__info-link-likes(href="#") 136
							li.posts__info-item
								a.posts__info-link.posts__info-link-comments(href="#") 21
							li.posts__info-item
								span.posts__info-text Просмотры: 100
					.posts__content
						.posts__text
							h1.posts__header 
								a.posts__header_link(href="post.html") Заголовок сообщения
								a.posts__header_edit(href="#")
								a.posts__header_delete(href="#")
							p Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений. Товарищи! реализация намеченных плановых заданий играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития.
						.posts__footer
							a.posts__link(href="post.html") Далее
			ul.pagination__list
				li.pagination__item.pagination__item-active
					a.pagination__link(href="#") 1
				li.pagination__item
					a.pagination__link(href="#") 2
				li.pagination__item
					a.pagination__link(href="#") 3
