app/login.html
<!DOCTYPE html>
<html lang="ru-RU">

  <head>
    <!--META-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Войти - Коллективные блоги</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Николай Пойманов">
    <!--CSS-->
    <!-- build:css css/vendor.min.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <!--endbower;-->
    <!-- endbuild -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body>
    <div class="wrapper">
      <div class="main-content">
        <header class="main-header"></header>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item main-nav__item-active"><a href="index.html" class="main-nav__link">Главная</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Авторы</a></li>
            <li class="main-nav__item"><a href="login.html" class="main-nav__link">Войти</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Регистрация</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Моя страница</a></li>
            <li class="main-nav__item"><a href="newpost.html" class="main-nav__link">Профиль</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Выйти</a></li>
            <li class="main-nav__item"><a href="search.html" class="main-nav__link">Поиск</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">RSS</a></li>
          </ul>
        </nav>
        <main class="main">
          <div class="content">
            <div class="content-layout">
              <div class="auth">
                <h1 class="header-content">Войти</h1>
                <form class="form__auth">
                  <div class="form__wrapper"><label for="email" class="form__label">E-mail:</label><input type="email" id="email" name="email" class="form__input">
                    <div class="form__error">Сообщение об ошибке</div>
                  </div>
                  <div class="form__wrapper"><label for="password" class="form__label">Пароль:</label><input type="password" id="password" name="password" class="form__input">
                    <div class="form__error">Сообщение об ошибке</div>
                  </div>
                  <div class="form__wrapper"><label for="remember" class="form__label"><input type="checkbox" name="remember" id="remember" class="form__checkbox">Запомнить меня</label></div>
                  <div class="form__wrapper"><input type="submit" value="Войти" class="form__button"></div><a href="#" class="form__link">Забыли пароль?</a></form>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="main-footer">
      <p>Copyrights (c) <a href="#">Fikristudio</a> 2016</p>
      <p>Портфолио-проект <a href="mailto:n.poymanov@gmail.com">Пойманова Николая</a></p>
      <p><a href="https://bitbucket.org/poymanov/mentor-blog-laravel" target="_blank">Исходный код</a></p>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="../js/script.js"></script>
    <!-- endbuild -->
  </body>

</html>

app/templates/pages/login.jade
extends ../layouts/main-layout.jade

block title
	title Войти - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Войти
			form.form__auth
				.form__wrapper
					label.form__label(for="email") E-mail:
					input.form__input(type="email" id="email" name="email")
					.form__error Сообщение об ошибке
				.form__wrapper
					label.form__label(for="password") Пароль:
					input.form__input(type="password" id="password" name="password")
					.form__error Сообщение об ошибке
				.form__wrapper
					label.form__label(for="remember")
						input(type="checkbox" name="remember" id="remember").form__checkbox
						| Запомнить меня
				.form__wrapper
					input(type="submit" value="Войти").form__button
				a.form__link(href="#") Забыли пароль?
