app/moderatecomments.html
<!DOCTYPE html>
<html lang="ru-RU">

  <head>
    <!--META-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Комментарии для подтверждения - Коллективные блоги</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Николай Пойманов">
    <!--CSS-->
    <!-- build:css css/vendor.min.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <!--endbower;-->
    <!-- endbuild -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body>
    <div class="wrapper">
      <div class="main-content">
        <header class="main-header"></header>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item main-nav__item-active"><a href="index.html" class="main-nav__link">Главная</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Авторы</a></li>
            <li class="main-nav__item"><a href="login.html" class="main-nav__link">Войти</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Регистрация</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Моя страница</a></li>
            <li class="main-nav__item"><a href="newpost.html" class="main-nav__link">Профиль</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Выйти</a></li>
            <li class="main-nav__item"><a href="search.html" class="main-nav__link">Поиск</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">RSS</a></li>
          </ul>
        </nav>
        <main class="main">
          <div class="content">
            <div class="content-layout">
              <div class="auth">
                <h1 class="header-content">Комментарии для подтверждения</h1>
                <ul class="moderatecomments__list">
                  <li class="moderatecomments__item">
                    <div class="moderatecomments__header"> <a href="#" class="moderatecomments__header-link">Название публикации</a></div>
                    <div class="moderatecomments__content">
                      <p class="moderatecomments__content-text"><a href="#" class="moderatecomments__content-user">@admin</a>: Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации</p>
                    </div>
                    <div class="moderatecomments__footer"><a href="#" class="moderatecomments__footer-link moderatecomments__footer-link-resolve">Опубликовать</a><a href="#" class="moderatecomments__footer-link moderatecomments__footer-link-reject">Удалить</a></div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="main-footer">
      <p>Copyrights (c) <a href="#">Fikristudio</a> 2016</p>
      <p>Портфолио-проект <a href="mailto:n.poymanov@gmail.com">Пойманова Николая</a></p>
      <p><a href="https://bitbucket.org/poymanov/mentor-blog-laravel" target="_blank">Исходный код</a></p>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="../js/script.js"></script>
    <!-- endbuild -->
  </body>

</html>

app/templates/pages/moderatecomments.jade
extends ../layouts/main-layout.jade

block title
	title Комментарии для подтверждения - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Комментарии для подтверждения
			ul.moderatecomments__list
				li.moderatecomments__item
					.moderatecomments__header 
						a.moderatecomments__header-link(href="#") Название публикации
					.moderatecomments__content
						p.moderatecomments__content-text
							a.moderatecomments__content-user(href="#") @admin
							|:  
							| Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации Текст публикации
					.moderatecomments__footer
						a.moderatecomments__footer-link.moderatecomments__footer-link-resolve(href="#") Опубликовать
						a.moderatecomments__footer-link.moderatecomments__footer-link-reject(href="#") Удалить
