app/newpost.html
<!DOCTYPE html>
<html lang="ru-RU">

  <head>
    <!--META-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новая публикация - Коллективные блоги</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Николай Пойманов">
    <!--CSS-->
    <!-- build:css css/vendor.min.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <!--endbower;-->
    <!-- endbuild -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body>
    <div class="wrapper">
      <div class="main-content">
        <header class="main-header"></header>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item main-nav__item-active"><a href="index.html" class="main-nav__link">Главная</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Авторы</a></li>
            <li class="main-nav__item"><a href="login.html" class="main-nav__link">Войти</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Регистрация</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Моя страница</a></li>
            <li class="main-nav__item"><a href="newpost.html" class="main-nav__link">Профиль</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Выйти</a></li>
            <li class="main-nav__item"><a href="search.html" class="main-nav__link">Поиск</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">RSS</a></li>
          </ul>
        </nav>
        <main class="main">
          <div class="content">
            <div class="content-layout">
              <div class="blog-content">
                <div class="new-post">
                  <form action="" class="new-comment__form">
                    <h1 class="new-post__header">Новая публикация				</h1>
                    <div class="new-post__left">
                      <div class="new-post__wrapper"><label for="title" class="new-post__label">Заголовок</label><input id="title" type="text" name="title" class="new-post__input">
                        <div class="form__error">Сообщение об ошибке</div>
                      </div>
                      <div class="new-post__wrapper"><label for="text" class="new-post__label">Сообщение</label><textarea id="text" class="new-post__textarea"></textarea>
                        <div class="form__error">Сообщение об ошибке </div>
                      </div>
                    </div>
                    <div class="new-post__right">
                      <div class="new-post__wrapper"><input type="submit" value="Опубликовать" class="new-post__button new-post__button-post"></div><a href="#" class="new-post__button new-post__button-delete">Удалить</a><a href="#" class="new-post__button new-post__button-draft">В черновик</a>
                      <a
                        href="#" class="new-post__button new-post__button-post">Опубликовать</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="main-footer">
      <p>Copyrights (c) <a href="#">Fikristudio</a> 2016</p>
      <p>Портфолио-проект <a href="mailto:n.poymanov@gmail.com">Пойманова Николая</a></p>
      <p><a href="https://bitbucket.org/poymanov/mentor-blog-laravel" target="_blank">Исходный код</a></p>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="../js/script.js"></script>
    <!-- endbuild -->
  </body>

</html>

app/templates/pages/newpost.jade
extends ../layouts/main-layout.jade

block title
	title Новая публикация - Коллективные блоги

block content
	.content-layout
		.blog-content
			.new-post
				form(action="").new-comment__form
					h1.new-post__header Новая публикация				
					.new-post__left
						.new-post__wrapper
							label.new-post__label(for="title") Заголовок
							input#title.new-post__input(type="text" name="title")
							.form__error Сообщение об ошибке
						.new-post__wrapper
							label.new-post__label(for="text") Сообщение
							textarea#text.new-post__textarea
							.form__error Сообщение об ошибке								
					.new-post__right
						.new-post__wrapper
							input.new-post__button.new-post__button-post(type="submit", value="Опубликовать")
						a.new-post__button.new-post__button-delete(href="#") Удалить
						a.new-post__button.new-post__button-draft(href="#") В черновик
						a.new-post__button.new-post__button-post(href="#") Опубликовать
