app/templates/pages/posts.jade
extends ../layouts/main-layout.jade

block title
	title Управление записями - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Управление записями
			table.posts__table
				tr
					th #
					th.header-content__th_width Название
					th Лайки					
					th Просмотры
					th Комменты
					th Создано
					th Изменено
					th.header-content__th_width2 Статус
				tr
					td 1
					td 
						a.posts__table__link(href="newpost.html") Заголовок записи
					td 1
					td 2
					td 3 | 
						span.posts__table__moderate 2
					td 24/06/2016
					td 25/06/2016
					td Опубликовано
				tr
					td 2
					td Заголовок записи
					td 1
					td 2
					td 3
					td 24/06/2016
					td 25/06/2016
					td Удалено
				tr
					td 3
					td
						a.posts__table__link(href="newpost.html") Заголовок записи
					td 1
					td 2
					td 3						
					td 24/06/2016
					td 25/06/2016
					td Черновик

app/posts.html
<!DOCTYPE html>
<html lang="ru-RU">

  <head>
    <!--META-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Управление записями - Коллективные блоги</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Николай Пойманов">
    <!--CSS-->
    <!-- build:css css/vendor.min.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <!--endbower;-->
    <!-- endbuild -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body>
    <div class="wrapper">
      <div class="main-content">
        <header class="main-header"></header>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item main-nav__item-active"><a href="index.html" class="main-nav__link">Главная</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Авторы</a></li>
            <li class="main-nav__item"><a href="login.html" class="main-nav__link">Войти</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Регистрация</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Моя страница</a></li>
            <li class="main-nav__item"><a href="newpost.html" class="main-nav__link">Профиль</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Выйти</a></li>
            <li class="main-nav__item"><a href="search.html" class="main-nav__link">Поиск</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">RSS</a></li>
          </ul>
        </nav>
        <main class="main">
          <div class="content">
            <div class="content-layout">
              <div class="auth">
                <h1 class="header-content">Управление записями</h1>
                <table class="posts__table">
                  <tr>
                    <th>#</th>
                    <th class="header-content__th_width">Название</th>
                    <th>Лайки </th>
                    <th>Просмотры</th>
                    <th>Комменты</th>
                    <th>Создано</th>
                    <th>Изменено</th>
                    <th class="header-content__th_width2">Статус</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td> <a href="newpost.html" class="posts__table__link">Заголовок записи</a></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3 | <span class="posts__table__moderate">2</span></td>
                    <td>24/06/2016</td>
                    <td>25/06/2016</td>
                    <td>Опубликовано</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Заголовок записи</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>24/06/2016</td>
                    <td>25/06/2016</td>
                    <td>Удалено</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td><a href="newpost.html" class="posts__table__link">Заголовок записи</a></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3 </td>
                    <td>24/06/2016</td>
                    <td>25/06/2016</td>
                    <td>Черновик</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="main-footer">
      <p>Copyrights (c) <a href="#">Fikristudio</a> 2016</p>
      <p>Портфолио-проект <a href="mailto:n.poymanov@gmail.com">Пойманова Николая</a></p>
      <p><a href="https://bitbucket.org/poymanov/mentor-blog-laravel" target="_blank">Исходный код</a></p>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="../js/script.js"></script>
    <!-- endbuild -->
  </body>

</html>
