app/templates/pages/post.jade
extends ../layouts/main-layout.jade

block title
	title Публикация - Коллективные блоги

block content
	.content-layout
		.blog-content
			ul.posts__list.posts__list-singlepost
				li.posts__item.posts__item-singlepost
					.posts__date 
						.posts__date-text 31 / 07
					.posts__info
						ul.posts__info-list
							li.posts__info-item
								span.posts__info-text Автор: 
								a.posts__info-link_type1(href="#") Admin
							li.posts__info-item
								a.posts__info-link.posts__info-link-likes(href="#") 136
							li.posts__info-item
								a.posts__info-link.posts__info-link-comments(href="#comments") 21
							li.posts__info-item
								span.posts__info-text Просмотры: 100
					.posts__content
						.posts__text
							h1.posts__header Заголовок сообщения
								a.posts__header_edit(href="#")
								a.posts__header_delete(href="#")
							p Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений. Товарищи! реализация намеченных плановых заданий играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.  
							p Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом укрепление и развитие структуры в значительной степени обуславливает создание направлений прогрессивного развития.
							p
								img(src="img/image.jpg", alt="")
						.post__tags
							span.post__tags-header Тэги:
							ul.post__tags-list
								li.post__tags-item
									a.post__tags-link(href="#") приключения,
								li.post__tags-item
									a.post__tags-link(href="#") жизнь прекрасна,
								li.post__tags-item
									a.post__tags-link(href="#") впечатления
			.post__footer
				.post__footer-content
					.post__footer-header Другие записи
					ul.post__footer-list
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 1
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 2
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 3
				.post__footer-content
					.post__footer-header Свежие записи блога
					ul.post__footer-list
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 1
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 2
						li.post__footer-item
							a.post__footer-link(href="#") Публикация 3
			.new-comment
				h2.new-comment__header Оставить комментарий
				form(action="").new-comment__form
					.new-comment__wrapper.new-comment__wrapper_textarea
						textarea.new-comment__textarea(placeholder="Здесь будет интересный комментарий :)")
						.g-recaptcha(data-sitekey="6LfOBxwTAAAAACqANl-1mHDKbF3ywXgTIUVZoS8l")
					input.new-comment__submit(type="submit", value="Опубликовать")
				p
					a(href="login.html") Войдите
					|   или  
					a(href="reg.html") зарегистрируйтесь
					|   чтобы оставить комментарий
			ul.comments__list#comments
				li.comments__item
					.comments__avatar
					.comments__author
						a.comments__author_link(href="#") Комментатор
					.comments__text Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
					.comments__footer
						.comments__footer_left
							a.comments__link(href="#") Ответить							
						.comments__footer_right
							a.comments__link.comments__link_resolve(href="#") Опубликовать
							a.comments__link.comments__link_reject(href="#") Удалить
				li.comments__item.comments__item_notvalid
					.comments__avatar
					.comments__author
						a.comments__author_link(href="#") Комментатор
						|  (на модерации)
					.comments__text Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
					.comments__footer
			a.show_comments(href="#") Больше комментариев

app/post.html
<!DOCTYPE html>
<html lang="ru-RU">

  <head>
    <!--META-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Публикация - Коллективные блоги</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Николай Пойманов">
    <!--CSS-->
    <!-- build:css css/vendor.min.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <!--endbower;-->
    <!-- endbuild -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body>
    <div class="wrapper">
      <div class="main-content">
        <header class="main-header"></header>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item main-nav__item-active"><a href="index.html" class="main-nav__link">Главная</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Авторы</a></li>
            <li class="main-nav__item"><a href="login.html" class="main-nav__link">Войти</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Регистрация</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Моя страница</a></li>
            <li class="main-nav__item"><a href="newpost.html" class="main-nav__link">Профиль</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Выйти</a></li>
            <li class="main-nav__item"><a href="search.html" class="main-nav__link">Поиск</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">RSS</a></li>
          </ul>
        </nav>
        <main class="main">
          <div class="content">
            <div class="content-layout">
              <div class="blog-content">
                <ul class="posts__list posts__list-singlepost">
                  <li class="posts__item posts__item-singlepost">
                    <div class="posts__date">
                      <div class="posts__date-text">31 / 07</div>
                    </div>
                    <div class="posts__info">
                      <ul class="posts__info-list">
                        <li class="posts__info-item"><span class="posts__info-text">Автор: </span><a href="#" class="posts__info-link_type1">Admin</a></li>
                        <li class="posts__info-item"><a href="#" class="posts__info-link posts__info-link-likes">136</a></li>
                        <li class="posts__info-item"><a href="#comments" class="posts__info-link posts__info-link-comments">21</a></li>
                        <li class="posts__info-item"><span class="posts__info-text">Просмотры: 100</span></li>
                      </ul>
                    </div>
                    <div class="posts__content">
                      <div class="posts__text">
                        <h1 class="posts__header">Заголовок сообщения<a href="#" class="posts__header_edit"></a><a href="#" class="posts__header_delete"></a></h1>
                        <p>Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений.
                          Товарищи! реализация намеченных плановых заданий играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. </p>
                        <p>Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом укрепление и развитие структуры в значительной степени обуславливает
                          создание направлений прогрессивного развития.</p>
                        <p><img src="img/image.jpg" alt=""></p>
                      </div>
                      <div class="post__tags"><span class="post__tags-header">Тэги:</span>
                        <ul class="post__tags-list">
                          <li class="post__tags-item"><a href="#" class="post__tags-link">приключения,</a></li>
                          <li class="post__tags-item"><a href="#" class="post__tags-link">жизнь прекрасна,</a></li>
                          <li class="post__tags-item"><a href="#" class="post__tags-link">впечатления</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="post__footer">
                  <div class="post__footer-content">
                    <div class="post__footer-header">Другие записи</div>
                    <ul class="post__footer-list">
                      <li class="post__footer-item"><a href="#" class="post__footer-link">Публикация 1</a></li>
                      <li class="post__footer-item"><a href="#" class="post__footer-link">Публикация 2</a></li>
                      <li class="post__footer-item"><a href="#" class="post__footer-link">Публикация 3</a></li>
                    </ul>
                  </div>
                  <div class="post__footer-content">
                    <div class="post__footer-header">Свежие записи блога</div>
                    <ul class="post__footer-list">
                      <li class="post__footer-item"><a href="#" class="post__footer-link">Публикация 1</a></li>
                      <li class="post__footer-item"><a href="#" class="post__footer-link">Публикация 2</a></li>
                      <li class="post__footer-item"><a href="#" class="post__footer-link">Публикация 3</a></li>
                    </ul>
                  </div>
                </div>
                <div class="new-comment">
                  <h2 class="new-comment__header">Оставить комментарий</h2>
                  <form action="" class="new-comment__form">
                    <div class="new-comment__wrapper new-comment__wrapper_textarea"><textarea placeholder="Здесь будет интересный комментарий :)" class="new-comment__textarea"></textarea>
                      <div data-sitekey="6LfOBxwTAAAAACqANl-1mHDKbF3ywXgTIUVZoS8l" class="g-recaptcha"></div>
                    </div><input type="submit" value="Опубликовать" class="new-comment__submit"></form>
                  <p><a href="login.html">Войдите</a> или <a href="reg.html">зарегистрируйтесь</a> чтобы оставить комментарий</p>
                </div>
                <ul id="comments" class="comments__list">
                  <li class="comments__item">
                    <div class="comments__avatar"></div>
                    <div class="comments__author"><a href="#" class="comments__author_link">Комментатор</a></div>
                    <div class="comments__text">Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития.</div>
                    <div class="comments__footer">
                      <div class="comments__footer_left"><a href="#" class="comments__link">Ответить							</a></div>
                      <div class="comments__footer_right"><a href="#" class="comments__link comments__link_resolve">Опубликовать</a><a href="#" class="comments__link comments__link_reject">Удалить</a></div>
                    </div>
                  </li>
                  <li class="comments__item comments__item_notvalid">
                    <div class="comments__avatar"></div>
                    <div class="comments__author"><a href="#" class="comments__author_link">Комментатор</a> (на модерации)</div>
                    <div class="comments__text">Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития.</div>
                    <div class="comments__footer"></div>
                  </li>
                </ul><a href="#" class="show_comments">Больше комментариев</a></div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="main-footer">
      <p>Copyrights (c) <a href="#">Fikristudio</a> 2016</p>
      <p>Портфолио-проект <a href="mailto:n.poymanov@gmail.com">Пойманова Николая</a></p>
      <p><a href="https://bitbucket.org/poymanov/mentor-blog-laravel" target="_blank">Исходный код</a></p>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="../js/script.js"></script>
    <!-- endbuild -->
  </body>

</html>
