app/profile.html
<!DOCTYPE html>
<html lang="ru-RU">

  <head>
    <!--META-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Коллективные блоги</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Николай Пойманов">
    <!--CSS-->
    <!-- build:css css/vendor.min.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <!--endbower;-->
    <!-- endbuild -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body>
    <div class="wrapper">
      <div class="main-content">
        <header class="main-header"></header>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item main-nav__item-active"><a href="index.html" class="main-nav__link">Главная</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Авторы</a></li>
            <li class="main-nav__item"><a href="login.html" class="main-nav__link">Войти</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Регистрация</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Моя страница</a></li>
            <li class="main-nav__item"><a href="newpost.html" class="main-nav__link">Профиль</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Выйти</a></li>
            <li class="main-nav__item"><a href="search.html" class="main-nav__link">Поиск</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">RSS</a></li>
          </ul>
        </nav>
        <main class="main">
          <div class="content">
            <div class="content-layout">
              <div class="heading">
                <h1>Профиль пользователя @admin</h1></div>
              <div class="profile-content">
                <ul class="profile__list">
                  <li class="profile__item"><a href="newpost.html" class="profile__link">Новая публикация</a></li>
                  <li class="profile__item"><a href="posts.html" class="profile__link">Управление публикациями</a></li>
                  <li class="profile__item"><a href="mycomments.html" class="profile__link">Мои комментарии</a></li>
                  <li class="profile__item"><a href="moderatecomments.html" class="profile__link">Управление комментариями</a></li>
                  <li class="profile__item"><a href="mycomments.html" class="profile__link">Мои лайки</a></li>
                  <li class="profile__item"><a href="#" class="profile__link">Выход</a></li>
                </ul>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="main-footer">
      <p>Copyrights (c) <a href="#">Fikristudio</a> 2016</p>
      <p>Портфолио-проект <a href="mailto:n.poymanov@gmail.com">Пойманова Николая</a></p>
      <p><a href="https://bitbucket.org/poymanov/mentor-blog-laravel" target="_blank">Исходный код</a></p>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="../js/script.js"></script>
    <!-- endbuild -->
  </body>

</html>

app/templates/pages/profile.jade
extends ../layouts/main-layout.jade

block title
	title Коллективные блоги

block content
	.content-layout
		.heading
			h1 Профиль пользователя @admin
		.profile-content
			ul.profile__list
				li.profile__item
					a.profile__link(href='newpost.html') Новая публикация
				li.profile__item
					a.profile__link(href='posts.html') Управление публикациями
				li.profile__item
					a.profile__link(href='mycomments.html') Мои комментарии
				li.profile__item
					a.profile__link(href='moderatecomments.html') Управление комментариями
				li.profile__item
					a.profile__link(href='mycomments.html') Мои лайки
				li.profile__item
					a.profile__link(href='#') Выход
			
