app/templates/pages/search.jade
extends ../layouts/main-layout.jade

block title
	title Поиск - Коллективные блоги

block content
	.content-layout
		.auth
			h1.header-content Поиск
			form.form__search(method="post")
				.form__search-wrapper
					input.form__search-input(type="text" name="search" placeholder="Искать...")
					input.form__search-submit(type="submit", value="Искать")
				.form__search-error Ошибка поиска					
			h2.search__header Результаты поиска
			ul.result__list
				li.result__item
					a.result__header(href="#") Заголовок
					p.result__text Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений.
				li.result__item
					a.result__header(href="#") Заголовок
					p.result__text Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений.

app/search.html
<!DOCTYPE html>
<html lang="ru-RU">

  <head>
    <!--META-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Поиск - Коллективные блоги</title>
    <!--SEO-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Николай Пойманов">
    <!--CSS-->
    <!-- build:css css/vendor.min.css -->
    <!--bower:css-->
    <link rel="stylesheet" href="/bower/normalize-css/normalize.css">
    <!--endbower;-->
    <!-- endbuild -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body>
    <div class="wrapper">
      <div class="main-content">
        <header class="main-header"></header>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item main-nav__item-active"><a href="index.html" class="main-nav__link">Главная</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">Авторы</a></li>
            <li class="main-nav__item"><a href="login.html" class="main-nav__link">Войти</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Регистрация</a></li>
            <li class="main-nav__item"><a href="reg.html" class="main-nav__link">Моя страница</a></li>
            <li class="main-nav__item"><a href="newpost.html" class="main-nav__link">Профиль</a></li>
            <li class="main-nav__item"><a href="" class="main-nav__link">Выйти</a></li>
            <li class="main-nav__item"><a href="search.html" class="main-nav__link">Поиск</a></li>
            <li class="main-nav__item"><a href="#" class="main-nav__link">RSS</a></li>
          </ul>
        </nav>
        <main class="main">
          <div class="content">
            <div class="content-layout">
              <div class="auth">
                <h1 class="header-content">Поиск</h1>
                <form method="post" class="form__search">
                  <div class="form__search-wrapper"><input type="text" name="search" placeholder="Искать..." class="form__search-input"><input type="submit" value="Искать" class="form__search-submit"></div>
                  <div class="form__search-error">Ошибка поиска </div>
                </form>
                <h2 class="search__header">Результаты поиска</h2>
                <ul class="result__list">
                  <li class="result__item"><a href="#" class="result__header">Заголовок</a>
                    <p class="result__text">Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений.</p>
                  </li>
                  <li class="result__item"><a href="#" class="result__header">Заголовок</a>
                    <p class="result__text">Задача организации, в особенности же консультация с широким активом позволяет оценить значение направлений прогрессивного развития. Таким образом новая модель организационной деятельности требуют от нас анализа новых предложений.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <footer class="main-footer">
      <p>Copyrights (c) <a href="#">Fikristudio</a> 2016</p>
      <p>Портфолио-проект <a href="mailto:n.poymanov@gmail.com">Пойманова Николая</a></p>
      <p><a href="https://bitbucket.org/poymanov/mentor-blog-laravel" target="_blank">Исходный код</a></p>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="../js/script.js"></script>
    <!-- endbuild -->
  </body>

</html>
